Course_02_Introduction_to_Version_control\02_seminar\Yellow_pencil.jpg

Course_03_Introduction_to_programming_languages/01_lection
Markdown_instruction.md
Znakomstvo/01_lection/Task1/Program.cs
Znakomstvo/01_lection/Task1/Task1.csproj
Znakomstvo/01_lection/Task1/bin/Debug/net8.0/Task1.deps.json
Znakomstvo/01_lection/Task1/bin/Debug/net8.0/Task1.dll
Znakomstvo/01_lection/Task1/bin/Debug/net8.0/Task1.exe
Znakomstvo/01_lection/Task1/bin/Debug/net8.0/Task1.pdb
Znakomstvo/01_lection/Task1/bin/Debug/net8.0/Task1.runtimeconfig.json
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.AssemblyInfo.cs
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.AssemblyInfoInputs.cache
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.GeneratedMSBuildEditorConfig.editorconfig
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.GlobalUsings.g.cs
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.assets.cache
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.csproj.CoreCompileInputs.cache
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.csproj.FileListAbsolute.txt
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.dll
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.genruntimeconfig.cache
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/Task1.pdb
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/apphost.exe
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/ref/Task1.dll
Znakomstvo/01_lection/Task1/obj/Debug/net8.0/refint/Task1.dll
Znakomstvo/01_lection/Task1/obj/Task1.csproj.nuget.dgspec.json
Znakomstvo/01_lection/Task1/obj/Task1.csproj.nuget.g.props
Znakomstvo/01_lection/Task1/obj/Task1.csproj.nuget.g.targets
